$primary-color: #bbe4ff;

body {
  background-color: $primary-color;
  color: white;
  padding: 15px;
  color: black;
}

.flex-rw {
  display: flex;
  align-items: center;

  &.start {
    justify-content: flex-start;
  }
  &.center {
    justify-content: space-between;
  }
  &.align-top {
    align-items: start;
  }
}

.grid-row {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  grid-column-gap: 30px;
}

.active-btn {
  border: 1px solid rgb(137, 137, 181);
  border-radius: 5px;
  padding: 10px 15px;
  
  &.active {
    background: rgb(10, 3, 84);
    color: #fff;
  }
}

.mar-top-30 {
  margin-top: 30px;
}
.table-section {
  background-color: #fff;
  border: 1px solid rgb(137, 137, 181);
  padding: 10px 15px;
}

.border-curve {
  border-radius: 4px 4px 0px 0px;
}

.no-border-top {
  border-top: 0px;
}

.table-container {
  overflow-x: scroll;
  overflow-y: visible;
  width: 77vw;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  width: 100px;
}

th {
  background-color: rgb(206, 214, 250);
  cursor: col-resize; /* Cursor changes to resize when hovering over headers */
}

.selection-row-background {
  text-align: center;
  background-color: rgb(229, 233, 248)
}

.select-element {
  text-transform: uppercase;
  width: auto;
  text-align: center;
  // click is prevented on selection
  pointer-events: none;
}
.operator {
  margin-top: 4px;
  width: 24px;
}

.detailed-section {
  width: 100%;
  max-width: 14vw; /* Adjust as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden;

  &--title {
    padding: 4px;
    color: rgb(169, 167, 167);
    border: 1px solid black;
    border-radius: 4px;
  }
  
  .highlighted {
    background: rgb(21, 50, 181);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px 4px 0px 0px;
  }

  .pointed-section {
    border: 1px solid black;
    border-top: 0px;
    padding: 10px;
    background: rgb(206, 214, 250);
    border-radius: 0px 0px 0px 0px;
  }
}


.right-section-header {
  width: 16vw;
  padding: 5px 10px;
}

.show-details-grid {
  display: grid;
  grid-template-columns: 24px auto;
  margin-bottom: 8px;
}

.uppercase-title {
  background: rgb(198, 208, 252);
  color: rgb(113, 138, 248);
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
}

.mar-5 {
  margin: 0px 5px;
}

.text-capilize {
  text-transform: capitalize;
}

.cursor-pointer {
  cursor: pointer;
}